<!DOCTYPE html>
<html>
<head>
    <title>Sign up</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2>Sign up</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Sign up</button>
                            </div>
                        </form>

                        <hr>

                        <div class="text-center">
                            <p>Or sign up using:</p>
                            <a href="#" class="btn btn-outline-danger btn-block mb-3">
                                <i class="fab fa-google"></i> Sign up with Google
                            </a>

                            <a href="#" class="btn btn-outline-primary btn-block">
                                <i class="fab fa-facebook"></i> Sign up with Facebook
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Font Awesome -->
<script src="https://kit.fontawesome.com/882e94af7b.js" crossorigin="anonymous"></script>
</body>
</html>
